@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  scroll-behavior: smooth !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.drop{
-webkit-border-top-left-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-radius-topleft: 100px;
  -moz-border-radius-bottomright: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
transition: 2s;
}
.drop:hover{
border-radius: 50%
}

.imgDrop{
  -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
  transition: 2s;
}
.imgDrop:hover{
  border-radius: 50%;
  
}

.itemProjects{
  
  /* border-radius: 45% 55% 31% 69% / 40% 25% 75% 60%; */
  transition: 1s;
}

.itemProjects:hover {
  /* border-radius: 45% 55% 73% 27% / 40% 40% 60% 60%; */
}

input{
  border: 1px solid black;
  border-radius: 3px;
}

.SiUpwork{
  font-size: "40px" !important;
}


.popover__wrapper {
  position: relative;
  display: inline-block;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -40px;
  right: calc(50% - 50%);
  transform: translate(0, 10px);
  background-color: #e2c006;
  padding: 2px;
  box-shadow: 0 2px 5px 0 black;
  width: 100px;
  border-radius: 3px;
  
}

.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  bottom: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  transform: rotate(+180deg);
  -webkit-transform: rotate(180deg);    
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
  font-size: 16px;
  color: black;
  text-align: center;
}